*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:white;
}
.logo{
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width:123%;
    border:solid black;
    height: 90%;
}
.navbar{
    display:flex;
}
.nav-list{
    width:50%;
    display: flex;
}
.nav-list li{
    list-style: none;
    padding:20px 30px;
}
.nav-list li a:hover{
    color:#007FFF;
}
.nav-list li a:active{
    color:lightseagreen;
}
.nav-list li a{
    text-decoration:none;
    color:white;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 17px;
}
.nav-list{
    justify-content: space-evenly;
}
.navbar-background{
    margin-top: 3px;
    border:solid #484848 1px;
    border-radius: 40px;
    background-color:#0039a6;
}
.button{
    margin-left: 544px;
    margin-top: 30px;
    margin-bottom:20px;
    background-color:#1560bd;
    cursor:pointer;
    border:solid black 1px;
    padding:10px 40px;
    color:bisque;
    border-radius:3px;
}
.button:hover{
    background-color: #005A9C;
}
.button:active{
    background-color: bisque;
    color:black;
}
.border_class{
    border-collapse: collapse;
    width: 57%;
    margin: auto;
}
table,th,td{
    border:2px solid black;
    border-radius:10px;
    padding:5px;
    font-family: 'Patrick Hand', cursive;
}
table{
    border-collapse: collapse;
    width:57%;
    margin:auto;
}
.line{
    font-size:18px;
    margin-top:10px;
    font-family: 'Satisfy', cursive;
    padding-left:180px;
    color:crimson
}
.line1{
    font-size:18px;
    margin-top:10px;
    font-family: 'Satisfy', cursive;
    padding-left:180px;
    color:green;
}
h1{
    font-family:'Permanent Marker',cursive;
    text-align: center;
    margin-top:35px;
    color:#1a1f71;
}
h3{
    text-align: center;
    font-family: 'Satisfy', cursive;
}
.shadow{
    border:solid darkblue 3px;
    box-shadow: 3px 3px 5px 6px black;
    margin-top: 20px;
    margin-left:30px;
    margin-right:50px;
    padding-bottom: 265px;
}